<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">시세관리</a></li>
      <li class="breadcrumb-item active" aria-current="page">최근 거래</li>
    </ol>
</nav>
<form>
    <mat-form-field appearance="fill">
      <mat-label>Favorite food</mat-label>
      <mat-select [(ngModel)]="selectedValue" name="food">
        <mat-option *ngFor="let food of foods" [value]="food.value">
          {{food.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    
  </form>

  <div class="coin_detail">
      <div>
        <p class="coin_price_detail">29,790,000</p>
        <p>전일 대비 -0.64%    191,000</p>
        <p>고가 30,571,000  저가 29,537,000</p>
      </div>
      <div><p>그래프</p></div>
  </div>
  <mat-tab-group mat-align-tabs="start">
  <mat-tab label="First">Content 1</mat-tab>
  <mat-tab label="Second">Content 2</mat-tab>
  <mat-tab label="최근거래"><div class="mat-elevation-z8 example-container">
    <table mat-table [dataSource]="dataSource"  class="mat-elevation-z8">
  
    <!-- Gubun Column -->
    <ng-container matColumnDef="usdPrice">
        <th mat-header-cell *matHeaderCellDef> 가격 (USD) </th>
        <td mat-cell *matCellDef="let element" [ngStyle]="{'color': element.gubun === 'I' ? 'red':'blue'}"> {{element.gubun ==='I' ? '↑' : '↓'}}   {{element.usdPrice}} </td>
    </ng-container>

    <!-- Gubun Column -->
    
    <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef> 수량 (BTC) </th>
        <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
    </ng-container>


     <!-- WalletId Column -->
    <ng-container matColumnDef="regDate">
        <th mat-header-cell *matHeaderCellDef style="text-align: right;"> 시간 </th>
        <td mat-cell *matCellDef="let element"> {{element.regDate | date: 'yy.MM.dd HH:mm:ss'}} </td>
    </ng-container>

    
      <tr mat-header-row *matHeaderRowDef="displayedColumns sticky: true" ></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter </td>
      </tr>
    </table>



  </div></mat-tab>
</mat-tab-group>




