<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">사용자관리</a></li>
    <li class="breadcrumb-item active" aria-current="page">사용자목록</li>
  </ol>
</nav>

<!--Search input (filter) -->


<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput [ngModel]="globalFilter" [ngModelOptions]="{standalone: true}" (ngModelChange)="applyFilter($event)" placeholder="검색어를 입력하세요." >
</mat-form-field>


<!--
<button mat-button color="primary" class="primary" (click)="applyFilter(input.value)">Submit</button>
  -->

  
  <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort multiTemplateDataRows  class="mat-elevation-z8">
        <ng-container matColumnDef="{{column}}" *ngFor="let column of displayedColumns;">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{column}} </th>
          <td mat-cell *matCellDef="let element"> {{element[column] === '\\n' ? '미지정' : element[column]}} </td>
        </ng-container>
       
       

      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let element;  index as i;" [attr.colspan]="displayedColumns.length">
          <div class="example-element-detail"
               [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
            <div class="example-element-description" *ngIf="!this.isEditMode">
              <div class="example-element-position"> <p>아이디 : {{element.USER_ID}} </p> </div>
              <div class="example-element-position"> <p>이름 : {{element.USER_NAME}} </p> </div>
              <div class="example-element-position"> <p>이메일 : {{element.USER_EMAIL}}</p> </div>
              <div class="example-element-position"> <p>연락처 : {{element.USER_PHONE}}</p> </div>
              <div class="example-element-name"> <p>국가코드 : {{element.USER_PHONE_CN}} </p> </div>
              <div class="example-element-weight"> <p>가입일: {{element.REG_DATE}}</p> </div>
            </div>
            <div class="example-element-description" *ngIf="this.isEditMode">
              <form class="example-form" [formGroup]="userInfoControl" >
                <p>
                  <mat-form-field class="example-full-width">
                    <mat-label>이메일</mat-label>
                    <input matInput formControlName="userEmail" name="userEmail" value="{{element.USER_EMAIL}}">
                  </mat-form-field>
                </p>
                <p>
                  <mat-form-field class="example-full-width">
                    <mat-label>연락처</mat-label>
                    <input matInput formControlName="userPhone" name="userPhone" value="{{element.USER_PHONE}}">
                  </mat-form-field>
                </p>

              </form>
            </div>
            <div class="example-element-description">
              <button mat-button color="primary" class="primary" *ngIf="!this.isEditMode" (click)="this.changeEditMode(element)"> 편집</button>
              <button mat-button type="submit" color="primary" class="primary" *ngIf="this.isEditMode" (click)="this.saveUserInfo($event, element)"> 저장</button>
            </div>

            <!--
              <div class="example-element-description">
              {{element.USER_L}}
            </div>
            -->
            
          </div>
        </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let element; columns: displayedColumns;"
        class="example-element-row"
        [class.example-expanded-row]="expandedElement === element"
        (click)="expandedElement = expandedElement === element ? null : element"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter </td>
      </tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
    </table>
    
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>

    
