  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">나의상품</a></li>
      <li class="breadcrumb-item active" aria-current="page">채굴내역</li>
    </ol>
  </nav>

<table id="example" class="table table-striped table-bordered table-hover" style="width:100%">
        <thead>
            <tr>
                <th>상품코드</th>
                <th>코인갯수</th>
                <th>USD</th>
                <th>상품타입</th>
                <th>일자</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let mining of miningHistoryList">
                <td>{{mining.productCode}}</td>
                <td>{{mining.amount}}</td>
                <td>{{mining.usd}}</td>
                <td>{{mining.type}}</td>
                <td>{{mining.date}}</td>
            </tr>
        </tbody>
    </table>
